.logo {
    /* margin-bottom: 8px; */
    text-align: center;
    background-color: black;
    width: 58px;
    border-radius: 18px;
    overflow: hidden;
   
    /* margin-top: 8px; */
}
.logo :hover{
    transform: translateX(-58px);
    transition: all 0.2s;
}
.nav{
    padding-left: 3vmax;
    padding-right: 3vmax;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}
.navlinks{
    margin-top: 1em;
    text-align: center;
    color: black;
    text-decoration: none;
}
.nav :hover{
    color: orangered;
}
.searchbox{
    margin-top: 1em;
    cursor: pointer;
}